.cartelera-peliculas{
   
    background: #aaaaaa9e;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;;
    margin-top: 20px;
    border-radius: 15px;
}
.contenedor{
    background: #666;
    padding-top: 30px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin: 200px;
    margin-top: 30px;

}
.bt-opc{
    display: inline;
    margin: 10px;
  
}
.botones{
    margin-left: 40%;
}